<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EPPlus" version="4.0.5" targetFramework="net452" />
  <package id="EPPlus.Extensions" version="1.0.0.0" targetFramework="net452" />
  <package id="Microsoft.Office.Interop.Excel" version="15.0.4420.1017" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="8.0.3" targetFramework="net452" />
  <package id="PDFsharp-MigraDoc-wpf" version="1.50.4000-beta3b" targetFramework="net452" />
  <package id="PDFsharp-wpf" version="1.50.4000-beta3b" targetFramework="net452" />
</packages>